/.phpunit.cache
/node_modules
/public/build
/public/hot
/vendor
/public/file
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
public/file/
public/storage/thumbnail
public/public/kematian
public/public/kkkematian
public/public/ktpkematian
public/public/ktp2kematian